# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Build output
dist/
build/
out/

# Dependency directories
.pnp
.pnp.js

# Logs
logs
*.log
*.tgz

# IDEs and editors
.idea/
.vscode/
.DS_Store

# Operating system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
